@page "/admin/bowlers/details/{id:long}"

<h3 class="bg-info text-white text-center p-1">Details</h3>

<table class="table table-sm table-bordered table-striped">
    <tr>
        <th>Bowler ID</th>
        <td>@b.BowlerId</td>
    </tr>
    <tr>
        <th>Full Name</th>
        <td>@b.BowlerFirstName @b.BowlerMiddleInit @b.BowlerLastName</td>
    </tr>
    <tr>
        <th></th>
        <td>@b.</td>
    </tr>
    <tr>
        <th>Publisher</th>
        <td>@b.Publisher</td>
    </tr>
    <tr>
        <th>Isbn</th>
        <td>@b.Isbn</td>
    </tr>
    <tr>
        <th>Classification</th>
        <td>@b.Classification</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@b.Category</td>
    </tr>
    <tr>
        <th>PageCount</th>
        <td>@b.PageCount</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@b.Price</td>
    </tr>
</table>

<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/books">Back</NavLink>

@code {
    [Inject]
    public IBowlingRepository repo { get; set; }
    [Parameter]
    public long Id { get; set; }
    public Bowler b { get; set; }

    protected override void OnParametersSet()
    {
        b = repo.Bowlers.FirstOrDefault(x => x.BowlerID == Id);
    }

    public string EditUrl => $"/admin/bowlers/edit/{b.BowlerID}";
}
