@page "/admin/bowlers/details/{id:long}"

<h3 class="bg-info text-white text-center p-1">Details</h3>

<table class="table table-sm table-bordered table-striped">
    <tr>
        <th>Bowler ID</th>
        <td>@b.BowlerID</td>
    </tr>
    <tr>
        <th>Full Name</th>
        <td>@b.BowlerFirstName @b.BowlerMiddleInit @b.BowlerLastName</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@b.BowlerAddress</td>
    </tr>
    <tr>
        <th>City</th>
        <td>@b.BowlerCity</td>
    </tr>
    <tr>
        <th>State</th>
        <td>@b.BowlerState</td>
    </tr>
    <tr>
        <th>Zip</th>
        <td>@b.BowlerZip</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>@b.BowlerPhoneNumber</td>
    </tr>
</table>

<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/bowlers">Back</NavLink>

@code {
    [Inject]
    public IBowlingRepository repo { get; set; }
    [Parameter]
    public long Id { get; set; }
    public Bowler b { get; set; }

    protected override void OnParametersSet()
    {
        b = repo.Bowlers.FirstOrDefault(x => x.BowlerID == Id);
    }

    public string EditUrl => $"/admin/bowlers/edit/{b.BowlerID}";
}
