@page "/admin/bowlers/edit/{id:long}"
@page "/admin/bowlers/create"
@inherits OwningComponentBase<IBowlingRepository>

<style>
    div.validation-message {color: rgb(220,53,69); font-weight: 500;}
</style>

<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText Bowler</h3>

<EditForm Model="b" OnValidSubmit="SaveBowler">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="form-group">
        <label>Bowler Id</label>
        <input type="number" class="form-control" disabled value="@b.BowlerID" />
    </div>
    <div class="form-group">
        <label>First Name</label>
        <ValidationMessage For="@(() => b.BowlerFirstName)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.BowlerFirstName"></InputText>
    </div>
    <div class="form-group">
        <label>Middle Initial</label>
        <ValidationMessage For="@(() => b.BowlerMiddleInit)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.BowlerMiddleInit"></InputText>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <ValidationMessage For="@(() => b.BowlerLastName)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.BowlerLastName"></InputText>
    </div>
    <div class="form-group">
        <label>Address</label>
        <ValidationMessage For="@(() => b.BowlerAddress)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.BowlerAddress"></InputText>
    </div>
    <div class="form-group">
        <label>City</label>
        <ValidationMessage For="@(() => b.BowlerCity)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.BowlerCity"></InputText>
    </div>
    <div class="form-group">
        <label>State</label>
        <ValidationMessage For="@(() => b.BowlerState)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.BowlerState"></InputText>
    </div>
    <div class="form-group">
        <label>Zip</label>
        <ValidationMessage For="@(() => b.BowlerZip)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.BowlerZip"></InputText>
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <ValidationMessage For="@(() => b.BowlerPhoneNumber)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="b.BowlerPhoneNumber"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-@ThemeColor">Save</button>
    <NavLink class="btn btn-secondary" href="/admin/bowlers">Back</NavLink>
</EditForm>

@code {
    [Parameter]
    public long Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "primary" : "warning";
    public string TitleText => Id == 0 ? "Create" : "Edit";

    public Bowler b { get; set; } = new Bowler();

    public IBowlingRepository repo => Service;
    protected override void OnParametersSet()
    {
        if (Id != 0) // existing bowler
        {
            b = repo.Bowlers.FirstOrDefault(x => x.BowlerID == Id);
        }
    }

    public void SaveBowler()
    {
        if (Id == 0)
        {
            repo.CreateBowler(b);
        }
        else
        {
            repo.SaveBowler(b);
        }

        NavManager.NavigateTo("/admin/bowlers");
    }

    [Inject]
    public NavigationManager NavManager { get; set; }
}
