<table class="table table=sm table-striped table-bordered">
    <thead>
        <th colspan="5" class="text-center">@TableTitle</th>
    </thead>
    <tbody>
        @if (Orders.Count() > 0)
        {
            @foreach (Order o in Orders)
            {
                <tr>
                    <td>@o.Name</td>
                    <td>@o.Zip</td>
                    <td>Book</td>
                    <td>Quantity</td>
                
                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => OrderSelected.InvokeAsync(o.OrderId))">
                            @ButtonLabel
                        </button>
                    </td>
                </tr>

                @foreach (BasketLineItem bli in o.Lines)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@bli.Book.Title</td>
                        <td>@bli.Quantity</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string TableTitle { get; set; } = "Orders";

    [Parameter]
    public IEnumerable<Order> Orders { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Collected";

    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }
}
